@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header{
    background: white;
    color: #5a6872;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2a9df4 3px solid;
}

header a{
    color: #5a6872;
    text-decoration: none;
    text-transform: capitalize ;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color:#2a9df4;
    font-weight:bold;
  }
  
.highlight{
  color:#2a9df4;
  font-weight:bold;
}
  
  /* Global */
  .container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#2a9df4;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
  
  .blue{
  padding:15px;
  background: #cccccc;
  color:#000000;
  margin-top:10px;
  margin-bottom:10px;
}

.blue-content{
  padding:15px;
  background: #2a9df4;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

  /* Boxes */
#boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  /* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

  /* Footer */
  footer{
    padding:20px;
    margin-top:20px;
    color: #ffffff;
    background-color:#2a9df4;
    text-align: center;
  }
  
  /* Showcase */
#showcase{
  min-height:400px;
  background: #2a9df4;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

.title-index{
    text-align: center;
}

.link-admin{
    position: absolute;
right:    0;
bottom:   0;
}

  
  .input_text[type=text], input[type=password]
            {
                width: 80%;
                padding: 10px 18px;
                margin: 5px 0;
                display: inline-block;
                border: 1px solid #ccc;
            }
            .button_log
            {
                background-color: #2a9df4;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 50%;
            }
            .model-conten
            {
                background-color: #fefefe;
                margin: 5% auto 15% auto;
                border: 1px solid #888;
                width: 50%;
                text-align: center;
            }
